h3 {
    background-color: #ccc;
  }
  
  body {
    background: #8cf url('sea.jpg') no-repeat fixed bottom;
  }
  H1 {
    overflow: hidden;
    text-shadow:
      0 0 tomato,
      0 0 yellowgreen,
      0 0 skyblue;
    color: transparent;
    transition: all 1s;
  }
  
  H1:hover {
    text-shadow:
      -400px 0 tomato,
      400px 0 yellowgreen,
      0 0 skyblue;
    }
   
